body {
  /*background-color: white;*/
}

p {
	/*background-color: white;*/
}
h1 {
	font-size: 40px;
	text-align: left;
}
h2 {
	font-size: 40px;
	text-align: right;
}
h3 {
	font-size: 40px;
}

h2,h3 {
	float: right;
}

h1 {
  color: lightgray;
  font-weight: 600;
  font-family: "monospace", FreeMono;
  display: inline;
}

