body {
  /*background-color: white;*/
}

p {
	/*background-color: white;*/
}
h1 {
	font-size: 40px;
	text-align: left;
}

h2, h3 {
	text-align: right;
}

h1, h2, h3 {
  font-size: 40px;
  color: lightgray;
  font-weight: 600;
  font-family: "monospace", FreeMono;
}


