body {
  /*background-color: white;*/
}

p {
	/*background-color: white;*/
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 40px;
}
h1, h2, h3 {
  color: black;
  font-family: "fantasy", Impact;
  display: inline;
}